.chat-actions-container {
  position: relative;
  flex-flow: column;
  background-color: var(--fg);
  justify-content: space-between;
  padding: 0 0 2vh;
}

.chat-actions__button {
  width: auto;
  padding: 2vh 0 0;
}

.chat__actions {
  position: absolute;
  right: 1.59vh;
  top: 10.79vh;
  z-index: 10001;
}
