.input {
    width: 100%;
    max-height: 5.34vh;
    height: clamp(31px, 2vw, 5.34vh);
    border: solid;
    border-width: 0 0 1px 1px;
    border-radius: 0 0 0 clamp(8.67px, 2vw, 1.5vh);
    border-color: var(--hint);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.input-invalid.input {
    border-color: var(--error);
}

.input__icon-container {
    width: auto;
    min-width: 1.125vh;
    flex: 0 0 auto;
    align-items: center;
    display: flex;
    pointer-events: none;
}

.input__icon.material-icons {
    font-size: clamp(14.5px, 2vw, 2.8vh);
    padding: 0 0.375vh 0 0.75vh;
    color: var(--grey);
    text-align: center;
    width: 100%;
}

