.input__error {
    background: transparent;
    font-size: clamp(8.5px, 2vw, 1.25vh);
    position: absolute;
    top: -1.55vh;
    right: 0;
    text-align: right;
    pointer-events: none;
}

.input__error-text {
    color: var(--error);
}