.chat {
  position: relative;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  border: solid;
  border-width: 0 1px 0 0;
  border-color: var(--bg);
  background-color: var(--bg);
}

.chat__actions {
  position: absolute;
  right: 1.59vh;
  top: 10.79vh;
  z-index: 10001;
}

.chat__bubbles-container {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
}

.chat__bubbles-container > .scrollable-y {
  display: block;
  height: auto;
}

.chat__bubbles {
  width: 35vw;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  min-height: 100%;
}

.chat__message-container {
  padding: 8 0 0;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 1;
}

.chat__message-wrapper {
  width: 35vw;
  min-width: 400px;
  padding: 0 0 16;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.chat__message-rows-wrapper {
  display: flex;
  width: 100%;
}

.chat__message-input-container {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  max-height: 30rem;
  min-height: 50px;
  width: 100%;
  position: relative;
}

.chat__message-input-container::before {
  content: '';
  color: var(--white);
  border: var(--hint) solid;
  border-width: 0 0 0 1;
  overflow-wrap: break-word;
  box-sizing: border-box;
  width: inherit;
}

.chat__message-input-wrapper {
  align-items: flex-end;
  min-height: 50px;
  width: 100%;
}

.chat__input-container {
  align-items: center;
  align-self: center;
  display: flex;
  flex: 1 1 auto;
  max-height: inherit;
  min-height: 50px;
  position: relative;
}

.chat__button {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 16px;
  min-width: 7vh;
  min-height: 7vh;
  border-radius: 50%;
  background-color: var(--hint);
  box-sizing: border-box;
}
