<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="whole">
        <div class="main-layout">
            {{!-- {{> 'chat/chat' notSelected=false text="Выберите чат, чтобы отправить сообщение"}} --}}
            <div class="chat whole">
                {{#if notSelected}}
                <div class="chat-not-selected">
                    <div class="content-center whole">
                        <p>{{text}}</p>
                    </div>
                </div>
                {{else}}
                {{> 'header/header' header.chat}}

                <div class="chat-selected">
                    <div class="scrollable-y">
                        <div class="chat-inner">
                            {{#each bubblesGroups}}
                            {{> 'bubbles/group' this}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="chat-input">
                    <div class="chat-input-container">
                        <div class="rows-wrapper">
                            <div class="chat-input-wrapper">
                                <div class="new-message-wrapper">
                                    <div class="input-message-container">
                                        {{> 'input/input' input.message }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-send-container">
                            <button class="btn-send material-icons clear-btn">send</button>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
            <div class="sidebar panel">
                {{> 'header/header' header.user title-link='../profile/profile.hbs'}}
                <div class="sidebar-content">
                    <div class="sidebar-actions">
                        {{> 'input/input' input.search}}
                        <button class="material-icons icon-btn add-btn">add</button>
                    </div>
                    <div class="sidebar-chatlist">
                        <div class="scrollable-y">
                            {{#each chatlist}}
                            {{> 'sidebar/chat' this}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="index.ts"></script>

</html>