<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="whole">
        <div class="page-chats">
            {{> 'chat/chat' notSelected=false text="Выберите чат, чтобы отправить сообщение"}}
            <div class="sidebar panel">
                {{> 'header/header' header.user title-link='../profile/profile.hbs'}}
                <div class="sidebar-content">
                    <div class="sidebar-actions">
                        {{> 'input/input' input.search}}
                        <button class="material-icons icon-btn add-btn">add</button>
                    </div>
                    <div class="sidebar-chatlist">
                        {{#each chatlist}}
                        {{> 'sidebar/chat' this}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>