.input__input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--white);
    font-size: 2.25vh;
    position: relative;
}

/* .input__input::after {
    content: "Hello World";
    position: absolute;
    top: 4.5vh;
    left: 0;
    bottom: -4.5vh;
    color: var(--white);
    height: 4.5vh;
    z-index: 10000;
} */