.input__error {
    background: transparent;
    font-size: 1.25vh;
    position: absolute;
    top: -1.25vh;
    left: 1vw;
    text-align: right;
    pointer-events: none;
}

.input__error-text {
    color: var(--error);
}