<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile.pcss">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="whole">
        <div class="page-chats">
            {{> 'chat/chat' notSelected=true}}
            <div class="sidebar panel">
                {{> 'header/header' header.profile title="Профиль"}}
                <div class="sidebar-content">
                    <form action="" class="sidebar-user-avatar">
                        <div class="image-upload">
                            <label class="image-upload-label" for="file-input">
                                <img width="150" height="150" src="https://via.placeholder.com/150x150" />
                                <div class="upload-icon-wrapper content-center">
                                    <div class="upload-icon material-icons color-hint">
                                        upload
                                    </div>
                                </div>
                            </label>

                            <input id="file-input" type="file" name="avatar" />
                        </div>
                        {{!-- {{> 'input/input' input.search}} --}}
                        <button type="submit" class="clear-btn disabled">Сменить аватар</button>
                    </form>
                    <form class="sidebar-user-data">
                        <div class="user-data-item">
                            {{> 'input/input' input.email value='example@mail.ru' }}
                        </div>
                        <div class="user-data-item">
                            {{> 'input/input' input.login value='hohotach'}}
                        </div>
                        <div class="user-data-item">
                            {{> 'input/input' input.name value='Евгений'}}
                        </div>
                        <div class="user-data-item">
                            {{> 'input/input' input.surname value='Поздняков'}}
                        </div>
                        <div class="user-data-item">
                            {{> 'input/input' input.nick value='позднер'}}
                        </div>
                        <div class="user-data-item">
                            {{> 'input/input' input.phone value='88005553535'}}
                        </div>
                        <button type="submit" class="clear-btn color-hint sidebar-edit-btn">Сохранить изменения</button>
                    </form>
                    <form class="sidebar-footer">
                        <div class="user-data-item">
                            {{> 'input/input' input.old_password }}
                        </div>
                        <div class="user-data-item">
                            {{> 'input/input' input.new_password }}
                        </div>
                        <button type="submit" class="clear-btn color-hint sidebar-edit-btn">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>