@import '../../styles/styles.css';
@import '../../partials/input/input.css';
@import '../../partials/sidebar/chat.css';
@import '../../partials/header/header.css';
@import '../../partials/chat/chat.css';

.page-chats {
    display: flex;
    height: 100%;
}

.sidebar {
    min-width: 420px;
    display: flex;
    flex-flow: column;
    height: 100%;
    box-sizing: border-box;
}

.sidebar-content {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    box-sizing: inherit;
    justify-content:space-between;

}

.sidebar-user-avatar {
    height: auto;
    width: 100%;
    padding: 16px 32px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    flex: 0 0 auto;
    align-items: center;
    border: solid;
    border-width: 1px 0 1px 0;
    border-color: var(--bg);
    box-sizing: border-box;
}

.sidebar-user-data {
    width: 100%;
    max-height: 765px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    flex: 0 0 auto;
    align-items: center;
    box-sizing: inherit;
    padding: 8px 32px;
}

.sidebar-footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    padding: 8px 32px;
    border: solid var(--bg);
    border-width: 1px 0 0 0;
}

.user-data-item {
    width: 100%;
    margin: 8px 0;
}

.sidebar-edit-btn {
    margin: 12px 0;
}

.image-upload {
    position: relative;
}

.image-upload-label {
    height: 0px;
    cursor: pointer;
}

.upload-icon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    flex: 0 0 auto;
    background-color: #00000080;
    margin: 0 0 4px;
}

.upload-icon.material-icons {
    font-size: 64px;
}

#file-input {
    display: none;
}