<div class="error-message-container">
    <h1 class="error-code">{{code}}</h1>
    <h1 class="error-text">{{description}}</h1>
    <a class="clear-link color-hint" href="{{link}}">Вернуться на главную</a>
</div>