.chat {
    position: relative;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    border: solid;
    border-width: 0 1px 0 0;
    border-color: var(--background);
    background-color: var(--background);
}

.chat-not-selected {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.chat-not-selected p {
    color: var(--grey);
}

.chat-scrollable {
    flex: 1 1 auto;
}

.chat-input {
    flex: 0 1 100px;
    padding: 4 0 0 0;
}

.chat-input-container {
    padding: 0 32 16 32;
}

.chat-input-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.chat-btn-container {
    margin-left: 16px;
}

.send-btn {
    background-color: var(--hint);
    width: 54px;
    height: 54px;
    font-size: 32px !important;
    color: var(--white);
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}