.entry-container {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    box-sizing: border-box;
    text-align: center;
    width: calc(120vw - (100% - 200px));
    max-width: calc(50vh);
}

.entry-header {
    flex: 0 1 9.26vh;
    font-size: 4vh;
    color: var(--white);
}

.entry-input-list {
    flex: 1 1 auto;
    flex-flow: column;
}

.entry-input-item {
    width: 100%;
    margin: 1vh 0;
}

.entry-footer {
    flex: 0 1 auto;
    flex-flow: column;
    padding: 4 0 0 0;
}

.entry-submit-btn {
    width: 100%;
    height: 4.5vh;
    line-height: 4.5vh;
    margin-top: 1.5vh;
    font-size: 2vh;
    border-radius: 1.5vh;
    background-color: var(--hint);
    color: var(--white);
}

.entry-signup-link {
    width: 100%;
    height: 4.5vh;
    margin-top: 1.5vh;
    font-size: 2vh;
}