<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="entry.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="whole content-center">
        <form class="entry-container" action="">
            <div class="entry-header content-center">Регистрация</div>
            <div class="entry-input-list content-center">
                <div class="entry-input-item">
                    {{> 'input/input' input.email}}
                </div>
                <div class="entry-input-item">
                    {{> 'input/input' input.login}}
                </div>
                <div class="entry-input-item">
                    {{> 'input/input' input.name}}
                </div>
                <div class="entry-input-item">
                    {{> 'input/input' input.surname}}
                </div>
                <div class="entry-input-item">
                    {{> 'input/input' input.phone}}
                </div>
                <div class="entry-input-item">
                    {{> 'input/input' input.password}}
                </div>
                <div class="entry-input-item">
                    {{> 'input/input' input.password2}}
                </div>
            </div>
            <dir class="entry-footer content-center">
                <button class="clear-btn entry-submit-btn" type="submit">
                    <a class="clear-link white" href="../not-found/not-found.hbs">Создать аккаунт</a>
                </button>
                <a class="clear-link color-hint entry-signup-link" href="signin.hbs">Войти</a>
            </dir>
        </form>
    </div>
</body>

</html>