.main-layout {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

.sidebar {
  width: calc(100vw - 100% + 60vh);

  /* min-width: 21.875vw; */
  max-width: 520px;
  display: flex;
  flex-flow: column;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.sidebar__header {
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  box-sizing: inherit;
}

.sidebar__content {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  box-sizing: inherit;
}

.sidebar__actions {
  min-height: 7.77vh;
  width: 100%;
  padding: 0 1.921vh 0 3.46vh;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  border: solid;
  border-width: 1px 0;
  border-color: var(--bg);
  box-sizing: border-box;
}
