<section class="bubbles-date-group">
    <div class="bubbles-date">{{bubblesDate}}</div>
    <div class="bubbles-group">
        {{#each bubbles}}
        {{> 'bubbles/bubble' this}}
        {{/each}}
    </div>
</section>