<div class="user-avatar">
    <img 
        class="avatar-photo" 
        src="{{#if this}}{{this}}{{else}}https://via.placeholder.com/150{{/if}}" 
        width="54" height="54" 
        alt="аватар">
</div>